@model Lab21.Models.User



    <form asp-controller="Home" asp-action="Register" method="post" class="mt-3">
        <div class="form-group row">
            <label asp-for="Name" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="Name" class="form-control" placeholder="Name">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Email" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="Email" class="form-control" placeholder="Email">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Phone" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="Phone" maxlength="15" class="form-control" placeholder="(555) 555-5555">
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Balance" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="Balance" type="number" step="0.01" class="form-control" placeholder="Balance">
                <span asp-validation-for="Balance" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Password" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="Password" type="password" class="form-control" placeholder="Password">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="ConfirmPassword" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="Password">
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Waffles" class="col-sm-2 col-form-label">Waffles?</label>
            <div class="col-sm-10">
                <input asp-for="Waffles" name="waffles" type="radio" value="True" />
                <input asp-for="Waffles" name="waffles" type="radio" value="Confirm" />
            </div>
        </div>
        <div>
            <button type="submit" class="btn btn-primary m-1">Create</button>
        </div>
    </form>